/*styling header using google fonts*/

header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header h3 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Designing for Mobile-first; dark theme first*/

main {
  background: linear-gradient(
      to top right,
      rgba(61, 24, 10, 0.5),
      rgba(#3f0e03)
    ),
    url(../images/backgroundimage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main h2 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 269;
  font-style: normal;
}
/*dark mode stuff*/
@media (prefers-color-scheme: dark) {
  main {
    background-color: #3d180a; /* Dark brown background */
    color: #e7e4d7; /* Light brown text */
    background-image: linear-gradient(
        rgba(61, 24, 10, 0.5),
        rgba(61, 24, 10, 0.5)
      ),
      url(../images/backgroundimage.jpg);
  }
}
/*light mode stuff*/
@media (prefers-color-scheme: light) {
  main {
    color: #d7c7a3;
    background-image: linear-gradient(
        rgba(75, 74, 70, 0.653),
        rgba(231, 228, 215, 0.5)
      ),
      url(../images/backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
}
/* Hover effect */
.light-mode-text:hover {
  color: #8c3815; /* Dark brown hover for the light mode */
}

.dark-mode-text:hover {
  color: #a75c30; /* Lighter brown hover for the dark mode */
}

/* tablets */
@media screen and (min-width: 768px) {
}

/* pc */
@media screen and (min-width: 992px) {
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white; /* Placeholder background color */
    color: #3f0e03; /* Dark brown text */
  }
}
/* navbar styling stuff - background and links  */
.navbar {
  background-color: #885436;
}

.navbar .navbar-brand,
.navbar .nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5d5652;
  transition: background-color 1s;
}

.navbar .nav-link.active {
  color: #ffffff;
  background-color: #8c3815;
}

.navbar-toggler {
  border-color: #e7e4d7;
}

.navbar-toggler-icon {
  background-color: #e7e4d7;
}
